<div class="container mt-3">
    <div class="row">
        <h1>Edit Category</h1>
        <div class="col-6 mt-4">
            <ng-container *ngIf="category; else notFound">            
                <form #form="ngForm" (ngSubmit)="onFromSubmit()">
                    <div class="mb-3">
                        <label for="categoryId" class="form-label">Id Category</label>
                        <input type="text" class="form-control" id="categoryName" name="categoryId" [(ngModel)]="category.id"  readonly>
                      </div>
                    <div class="mb-3">
                      <label for="categoryName" class="form-label">Name Category</label>
                      <input type="text" class="form-control" id="categoryName" name="categoryName" [(ngModel)]="category.name" >
                    </div>
                    <div class="mb-3">
                      <label for="urlHandle" class="form-label">Url Handle</label>
                      <input type="text" class="form-control" id="urlHandle" name="urlHandle" [(ngModel)]="category.urlHandle">
                    </div>
                    <button type="submit" class="btn btn-primary submit"> <i class="bi bi-plus-square"></i> Edit Category</button>                
                    <a routerLink="/admin/categories" class="btn btn-dark"><i class="bi bi-arrow-return-left"></i> Back To List</a>
                  </form>
            
            
            </ng-container>

            <ng-template #notFound>
                <div class="alert alert-warning" role="alert">
                    Cannot Not Found Category. Please Check Agin
                  </div>
            </ng-template>



        </div>
    </div>
</div> 